.page-5 > .main {
    background-color: white;
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "layout-2"
                         "layout-3";
    grid-template-rows: 50%;
    grid-template-columns: auto;
    grid-gap: 15px;
}


.layout-2 {
    grid-area: layout-2;
    text-align: center;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "col-1-2 col-2-2";
    grid-template-columns: 50%;
    grid-gap: 15px;
}

.layout-3 {
    grid-area: layout-3;
    text-align: center;
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-areas: "col-1-3 col-2-3 col-3-3";
    grid-template-columns: 33.33%;
    grid-gap: 15px;
}
.layout-3 > * {
    background-color: blueviolet;
}
