#page-10 {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head head"
                         "aside main";
    grid-template-rows: 50px 1fr;
    grid-template-columns: 20% 1fr;
    grid-gap: 15px;
}

#page-10 > .main {
    display: grid;
    height: 100%;
    grid-template-areas: "layout-1"
                         "layout-2";
    grid-template-rows: 20% 1fr;
    grid-gap: 15px;

}