#page-7 {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head"
                         "main"
                         "foot";
    grid-template-rows: 50px 1fr 30px;
    grid-template-columns: auto;
    grid-gap: 15px;
}