#page-1 {
    display: grid;
    width: 100%;
    height: 250px;
    grid-template-areas: "head head"
                         "aside aside"
                         "main main"
                         "foot foot";
    grid-template-rows: 50px 1fr 1fr 30px;
    grid-template-columns: 100%;
    grid-gap: 15px;
}

#page-1 > * {
    min-width: 0;
    padding: 0 15px;
    display: grid;
    justify-content: center;
    align-items: center;
}


@media (min-width: 960px) {
    #page-1 {
        grid-template-areas: "head head"
                         "main aside"
                         "foot foot";
        grid-template-rows: 50px 1fr 30px;
        grid-template-columns: 70% 1fr;
    }
}